.array-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.list{
  list-style: none;
  display: flex;
}

.list li{
  box-shadow: 4px 4px 2px rgba(0, 0, 0, .76);
  width: 50%;
  padding: 15px;
  margin: 4px;
  background-color:rgb(211, 211, 211) ;
  border-radius: 5px;
}
.buttons{
  margin-top: 20px;
}
.buttons button{
  margin: 5px;
  padding: 5px;
}